<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>个人中心</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet" />
    <link href="__CSS__/custom-styles.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/ucenter.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/search.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/uploadify.css">
    <script src="__JS__/jquery-3.1.0.js"></script>
    <!--[if lt IE 9]>
    <script src="http://nt1.268xue.com/static/common/html5.js?v=1486227637308"></script><![endif]-->
</head>

<body class="W-body U-body" style="background: none;">

<include file="Index:header"/>
<section class="c-main1" style="margin-bottom: 45px">
    <h3 style="margin-top:20px;">{$hw.title}</h3>
    <div style="margin-top:20px;border:1px solid #ccc;padding:30px;background-color:rgba(204,202,202,0.3)">
        <h3 style="margin-bottom:10px;">作业内容</h3>
        <p>{$hw.content}</p>
    </div>
    <if condition="$dhw.status eq 1">
        <div style="margin-top:20px;border:1px solid #ccc;padding:30px;background-color:rgba(204,202,202,0.3)">
            <h3 style="margin-bottom:10px;">教师评分</h3>
            <p style="color: red;">{$dhw.comment}</p>
            <p>得分：<b>{$dhw.score}</b></p>
        </div>
    </if>
    <div style="margin-top:20px;">
        <h3 style="margin-bottom:20px;">学生答案</h3>
        <form id="singcms-form">
            <if condition="$dhw.status eq 0">
                <textarea class="input js-editor" id="editor_singcms" name="content" style="width:100%;height:300px;">{$dhw.content}</textarea>
                <else/>
                <p>{$dhw.content}</p>
            </if>
            <div style="margin-top: 10px;">
                <if condition="$dhw.status eq 0">
                    <label for="file_upload_hw">上传作业附件（最大不超过5GB）：</label>
                </if>
                <if condition="$dhw.path neq null">
                    <a style="color:red;" href="{$dhw.path}" download>下载作业附件</a>
                </if>
                <if condition="$dhw.status eq 0">
                    <input id="file_upload"  type="file">
                    <input id="file_upload_hw" name="path" type="hidden" value="">
                </if>
            </div>
            <input name="dhw_id" type="text" hidden value="{$dhw.dhw_id}">
            <input name="endtime" type="text" hidden value="{$hw.endtime}">
            <div style="text-align:center;">
                <if condition="$dhw.status eq 0">
                <button type="button" class="btn btn-primary" id="singcms-button-submit">提交修改</button>
                </if>
            </div>
        </form>
    </div>
</section>
</body>
<script src="__JS__/layer.js"></script>
<script src="__JS__/dialog.js"></script>
<script src="__JS__/kindeditor/kindeditor-all.js"></script>
<script type="text/javascript" src="__JS__/uploadify/jquery.uploadify.js"></script>
<script>
    // 6.2
    var SCOPE = {
        'save_url' : '/Home/Donehw/save',
        'jump_url' : '/Home/Donehw/index.html',
        'ajax_upload_hw_url' : '/Home/Upload/uploadhw',
        'ajax_upload_swf' : '__JS__/uploadify/uploadify.swf',
    }
    KindEditor.ready(function(K) {
        window.editor = K.create('#editor_singcms',{
            uploadJson : '/Home/Upload/uploadkindeditor',
            afterBlur : function(){this.sync();}, //
        });
    });

    $(function() {
        $('#file_upload').uploadify({
            'swf'      : SCOPE.ajax_upload_swf,
            'uploader' : SCOPE.ajax_upload_hw_url,
            'buttonText': '选择本地文件',
            'fileTypeDesc': 'All Files',
            'fileObjName' : 'file',
            'removeTimeout' : 10,
            'fileSizeLimit' : '5GB',
            'onUploadSuccess' : function(file,data,response) {
                // response true ,false
                if(response) {
                    var obj = JSON.parse(data); //由JSON字符串转换为JSON对象
                    if(obj.status==0){
                        layer.alert('上传失败');
                    }else{
                        $('#' + file.id).find('.data').html(' 上传完毕');
                        $("#file_upload_hw").attr('value',obj.data);
                    }
                }else{
                    alert('上传失败');
                }
            },
        });

    });

    $("#singcms-button-submit").click(function(){
        var data = $("#singcms-form").serializeArray();
        var postData = {};
        $(data).each(function(i){
            postData[this.name] = this.value;
        });
        console.log(postData);
        // 将获取到的数据post给服务器
        url = SCOPE.save_url;
        jump_url = SCOPE.jump_url;
        $.post(url,postData,function(result){
            if(result.status == 1) {
                //成功
                return dialog.success(result.message,jump_url);
            }else if(result.status == 0) {
                // 失败
                return dialog.error(result.message);
            }
        },"JSON");
    });
</script>
</html>