


	/*@import url(theme.css); !*The import theme file*!*/
/*---======== /commonStyle ========---*/
	body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,menu,dl,dt,dd,article,aside,details,figcaption,figure,footer,header,menu,section{border: 0;padding: 0;margin: 0;}
	body{font:12px/150% 'Hiragino Sans GB','Helvetica Neue',\5FAE\8F6F\96C5\9ED1,"SimHei",Tohoma,'sans-serif';word-break:break-all;word-wrap:break-word;}
	ul,ol,li{list-style:none}
	a{text-decoration:none;}
	a:hover{text-decoration:underline;color: red;}
	a:focus{outline:none;-moz-outline:none;}
	a:active{outline:none;}
	a,img{border:0 none;color: black;}
	input,select,button{vertical-align:middle;outline: none;}
	table{border-collapse:collapse;border-spacing:0;empty-cells:show;}
	h1 {font-size: 36px;line-height: 45px;}
	h2 {font-size: 24px;line-height: 30px;}
	h3 {font-size: 18px;line-height: 22px;}
	h4 {font-size: 16px;line-height: 20px;}
	h5 {font-size: 14px;line-height: 18px;}
	h6 {font-size: 12px;line-height: 16px;}
	article, aside, details, figcaption, figure, footer, header, menu, nav, section{display: block;}
	.clearfix:after{ content: '';display: block;height: 0;clear: both;overflow: hidden; }
	.clearfix{display: inline-block;}
	* html .clearfix{height: 1%;}
	.clearfix{display: block;}
	.clear {clear: both;font-size: 0;content: " ";line-height: 1px;height: 1px;_height: 1%;margin-top: -1px;}
	.dis{display: block;}.undis{display: none;}.disIb {display: inline-block;}
	.fl{float: left;_display: inline;}.fr{float: right;_display: inline;}
	.pr {position: relative; }.pa {position: absolute; }
	.f-fM,tt,select,input,samp {font-family: "Hiragino Sans GB","Microsoft YaHei";}.f-fA {font-family: "SimSun"}.f-fH {font-family: "SimHei";}.f-fG {font-family: 'Georgia';}
	.unBg {background: none !important;}
	.unBr {border: none !important;}
	.unFw {font-weight: normal;}
	.disFw {font-weight: bold;}
	.of{overflow: hidden;}
	.vam {vertical-align: middle;}
	.tal {text-align: left;}
	.tac {text-align: center;}
	.tar {text-align: right;}
	.hand {cursor: pointer;}
	.zoom {_zoom: 1;}
	.fsize12 {font-size: 12px;}
	.fsize14 {font-size: 14px;}
	.fsize16 {font-size: 15px;}
	.fsize18 {font-size: 18px;}
	.fsize20 {font-size: 20px;}
	.fsize22 {font-size: 22px;}
	.fsize24 {font-size: 24px;}
	.fsize30 {font-size: 30px;}
	.fsize46 {font-size: 46px;}
	.fsize64 {font-size: 64px;}
	.tD24 {text-indent: 24px;}
	.tD30 {text-indent: 30px;}
	.mt5 {margin-top: 5px;}
	.mr5 {margin-right: 5px;}
	.mb5 {margin-bottom: 5px;}
	.ml5 {margin-left: 5px;}
	.mt10 {margin-top: 10px;}
	.mr10 {margin-right: 10px;}
	.mb10 {margin-bottom: 10px;}
	.ml10 {margin-left: 10px;}
	.mt15 {margin-top: 15px;}
	.mr15 {margin-right: 15px;}
	.mb15 {margin-bottom: 15px;}
	.ml15 {margin-left: 15px;}
	.mt20 {margin-top: 20px;}
	.mr20 {margin-right: 20px;}
	.mb20 {margin-bottom: 20px;}
	.ml20 {margin-left: 20px;}
	.mt25 {margin-top: 25px;}
	.mt30 {margin-top: 30px;}
	.mr30 {margin-right: 30px;}
	.mb30 {margin-bottom: 30px;}
	.ml30 {margin-left: 30px;}
	.mt40 {margin-top: 40px;}
	.mr40 {margin-right: 40px;}
	.mb40 {margin-bottom: 40px;}
	.ml40 {margin-left: 40px;}
	.mt50 {margin-top: 50px;}
	.mt60 {margin-top: 60px;}
	.mr50 {margin-right: 50px;}
	.mb50 {margin-bottom: 50px;}
	.mb100 {margin-bottom: 100px;}
	.ml50 {margin-left: 50px;}
	.ml55{margin-left: 55px;}
	.ml70 {margin-left: 70px;}
	.ml190 {margin-left: 190px;}
	.ml100 {margin-left: 370px;}
	.pt10 {padding-top: 10px;}
	.pr10 {padding-right: 10px;}
	.pb10 {padding-bottom: 10px;}
	.pl5 {padding-left: 5px;}
	.pl10 {padding-left: 10px;}
	.pt15 {padding-top: 15px;}
	.pr15 {padding-right: 15px;}
	.pb15 {padding-bottom: 15px;}
	.pl15 {padding-left: 15px;}
	.pl35 {padding-left: 35px;}
	.pt20 {padding-top: 20px;}
	.pr20 {padding-right: 20px;}
	.pb20 {padding-bottom: 20px;}
	.pl20 {padding-left: 20px;}
	.pt30 {padding-top: 30px;}
	.pt50 {padding-top: 50px;}
	.pr50 {padding-right: 50px;}
	.pb30 {padding-bottom: 30px;}
	.pb50 {padding-bottom: 50px;}
	.pb75 {padding-bottom: 75px;}
	.pb100 {padding-bottom: 100px;}
	.pl50 {padding-left: 50px;}
	.pr70 {padding-right: 70px;}
	.w50pre {width: 50%;}
	.w240 {width: 240px;}
	.w300 {margin: 0 auto;width: 310px;}
	.w650 {margin: 0 auto;width: 65%;}
	.w100 {margin: 0 auto;width: 100%;}
	.w670 {margin: 0 auto;width: 788px;}
	.w880 {margin: 0 auto;width: 880px;}
	.iContainer,.w1000 {margin: 0 auto;width: 1120px;}
	.icon14,.icon-2-14 {display: inline-block;height: 14px;width: 14px;vertical-align: middle;}
	.icon16,.icon-2-16 {display: inline-block;height: 16px;width: 16px;vertical-align: middle;}
	.icon18,.icon-2-18 {display: inline-block;height: 18px;width: 18px;vertical-align: middle;}
	.icon26{display: inline-block;height: 26px;width: 26px;vertical-align: middle;}
	.icon24,.icon-2-24 {display: inline-block;height: 24px;width: 24px;vertical-align: middle;}
	.icon20 {display: inline-block;height: 20px;width: 20px;vertical-align: middle;}
	.icon30 {display: inline-block;height: 30px;width: 30px;vertical-align: middle;}
	.hLh20 {height: 20px;line-height: 20px;}
	.hLh30 {height: 30px;line-height: 30px;}
	.txtOf {display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/*---======== /commonClass ========---*/
	.yellow-btn,.gray-btn {display: inline-block;padding: 0 10px;}
	.green-btn-pac{padding: 0px 10px 0 13px;background-color: #04b118;color:#fff;display: inline-block;line-height: 22px;}
	.star-level-1 {display: inline-block;_zoom: 1;_display: inline;overflow: hidden;height: 12px;width: 80px;}
	.ads-1 {height: 120px;width: 1000px;}
	.ads-2 {background: #fff;display: block;padding: 1px;height: 118px;width: 298px;}
	.play-1 {cursor: pointer;height: 50px;width: 50px;top: 46%;left: 50%;margin: -25px 0 0 -25px}
	.comm-tips-1 {padding: 30px 0;text-align: center;}
	.c-tips-1 {display: inline-block;height: 50px;vertical-align: middle;width: 50px;}
	.c-line-1 {border-bottom: 1px solid #e6e6e6;}
	.c-line-2 {border-top: 1px solid #465760;}
	.c-line-3 {border-bottom: 1px solid #ddd;}
	.jydw-icon {display: inline-block;width: 55px;height: 18px;vertical-align: middle;}
	/* .free-icon {position: absolute;right: 16px;top: -26px;display: inline-block;height: 60px;vertical-align: middle;width: 60px;} */
	.green-btn {border-radius: 3px;color: #fff;display: inline-block;padding: 0px 16px;font-size: 12px;height: 20px;line-height: 20px;}
	.question-btn,.comment-btn {border-radius: 3px;color: #fff;display: inline-block;padding: 0px 16px;font-size: 14px;height: 26px;line-height: 26px;}
	.order-submit {border-radius: 3px;color: #fff;display: inline-block;padding: 2px 42px;font-size: 18px;height: 32px;line-height: 32px;}
	.blue-btn,.brow-btn,.bred-btn {color: #fff;display: inline-block;padding: 0px 20px;font-size: 14px;height: 30px;line-height: 30px;}
	.brow-btn,.bred-btn {border-radius: 3px;height: 26px;line-height: 26px;}
	.goBack-btn {border: 1px solid #e2e2e2;border-radius: 3px;color: #333;display: inline-block;padding: 2px 30px;font-size: 18px;height: 30px;line-height: 30px;}
	.u-common-btn,.page-up,.page-down {border: 1px solid #e2e2e2;color: #333;display: inline-block;font-size: 12px;line-height: 24px;height: 24px;padding: 0 12px;}
	.common-btn-2 {border: 1px solid #e2e2e2;display: inline-block;font-size: 12px;line-height: 20px;height: 20px;padding: 0 15px;}
	.jihu-btn,.go-live-btn,.q-submit-btn {border-radius: 3px;color: #fff;display: inline-block;font-size: 15px;line-height: 24px;height: 24px;padding: 2px 25px;}
	.q-submit-btn {border-radius: 3px;color: #fff;display: inline-block;font-size: 15px;line-height: 26px;height: 26px;padding: 2px 18px;}
	.green-btn:hover,.question-btn:hover,.comment-btn:hover,.order-submit:hover,.u-common-btn:hover,.page-up:hover,.page-down:hover,.q-submit-btn:hover,.goBack-btn:hover,.jihu-btn:hover,.go-live-btn:hover,.q-submit-btn:hover {text-decoration: none;}
	.jihu-btn:hover,.go-live-btn:hover,.q-submit-btn:hover {opacity: .9;filter: alpha(opacity=90);}
	.line1 {border-top: 1px solid #fff;}
	.line2 {border-bottom: 1px solid #e5e5e5;}
	.line3 {border-bottom: 1px solid #DDD;}
	.line4 {border-bottom: 1px solid #1D6BC6;}
	.line5 {border-bottom: 1px solid #11417A;}
	.line6{border-bottom:1px solid #f1f1f1;}
	.DT-arrow {cursor: default;position: absolute;width: 22px;right: 55px;top: -7px;+top: -12px;_top:-12px;}
	.DT-arrow * {cursor: default;display: block;font-size: 12px;font-family: 'SimSun';height: 12px;line-height: 1.231;overflow: hidden;font-style: normal;font-weight: normal;}
	.DT-arrow em {color: #FADE82;}
	.DT-arrow span {margin: -11px 0 0;color: #FFF9DD;}
/*---======== /dialog ========---*/
	.bg-shadow,.bg-shadow-infor {background: #000;opacity: 0.3;filter: alpha(opacity=30);position: fixed;_position: absolute;height: 100%;width: 100%;top: 0;right: 0;bottom: 0;left: 0;z-index: 999999;}
	.dialog-shadow-cx{background: #000;opacity: 0.8;filter: alpha(opacity=80);}
	.bg-shadow.bg-shadow05 {opacity: 0.5;filter: alpha(opacity=50);}
	.dialog-shadow,.dialog-shadow-infor {background: rgba(0, 0, 0, .2);filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#30000000, endColorstr=#30000000);position: absolute;padding: 6px;left: 50%;margin-left: -240px;z-index: 9999999;}
	.dialog-ele,.dialog-ele-infor {background: #fff;}
	.d-s-head,.d-s-head-infor {height: 22px;line-height: 22px;padding: 5px 12px;width: auto;+width: 100%;}
	.d-s-head-txt,.d-s-head-txt-infor {color: #333;font-size: 16px;line-height: 22px;}
	.dClose {right: 10px;top: 10px;}
	.dClose:hover {text-decoration: none;}
	.d-tips-1,.d-tips-4 {width: 450px;position: relative;}
	.d-tips-2,.d-tips-3 {width: 340px;position: relative;}
	.d-tips-5,.d-tips-55 {width: 612px;height: 440px;position: relative;}
	.d-tips-66{width: 400px;height: 370px;position: relative;}
	.d-tips-9 {width: 900px;position: relative;}
	.d-tips-1 p,.d-tips-2 p,.d-tips-3 p {padding-left: 60px;line-height: 180%;}
	.d-t-icon-1,.d-t-icon-2,.d-t-icon-3 {left: 5px;top: -5px;height: 44px;width: 44px;}
	.d-tips-4 .l-r-w-Inpt li input.lTxt {width: 249px;}
	.d-tips-4 #requestErrorID {padding: 0 0 8px 77px;color: #FF4800;}
	.animate-enter.animated {-webkit-animation-duration: .3s;-moz-animation-duration: .3s;-o-animation-duration: .3s;animation-duration: .3s;-webkit-animation-fill-mode: both;-moz-animation-fill-mode: both;-o-animation-fill-mode: both;animation-fill-mode: both;}
	@-webkit-keyframes flyIn5 {0% {opacity: 0;-webkit-transform: scale(.3);transform: scale(.3);}100% {opacity: 1;-webkit-transform: scale(1);transform: scale(1);}}
	@keyframes flyIn5 {0% {opacity: 0;-webkit-transform: scale(.3);-ms-transform: scale(.3);transform: scale(.3);}100% {opacity: 1;-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}}
	.animate-enter.flyIn5 {-webkit-animation-name: flyIn5;animation-name: flyIn5;}
	.current-city .city-top{height: 40px;border-bottom: 1px solid #bfbfbf;line-height: 40px;}
	.city-all{margin-top: 10px;max-height: 360px;overflow-y: auto;}
	.city-all dl{margin-bottom: 30px;}
	.city-all dl dt,.city-all dl dd{display: block;}
	.city-all dl dt span{display: inline-block;line-height: 18px;font-size: 16px;border-left: 4px solid #ff7426;padding-left: 8px;color: #333;}
	.city-all dl dd a:hover{text-decoration: none;}
	.city-all dl dd a:hover tt{color: #17559e;}
/*---======== /goods-address  ========---*/
	.addRessInpt ul li label {display: inline-block;width: 86px;}
	.addRessInpt ul li input.lTxt,.addRessInpt ul li select {background: #FFF;}
	.addRessInpt ul li input.lTxt {border: 1px solid #BBB;border-radius: 3px;color: #666;height: 30px;line-height: 30px;padding: 0 10px;width: 248px;}
	.addRessInpt ul li select,.sendTime {border: 1px solid #BBB;border-radius: 3px;color: #333;padding: 5px 10px;margin-right: 10px;}
/*---======== /footerStyle ========---*/
	.foot-link {background: #333;color: #888;}
	.f-link-wrap {background: #333;}
	.f-link-wrap .fLink {border-bottom: 1px solid #3c3c3c;}
	.fLink dt,.fLink dd {color: #888;float: left;_display: inline;height: 50px;line-height: 50px;overflow: hidden;}
	.fLink dd a {display: inline-block;color: #888;padding: 0 15px;vertical-align: middle;}
	.online-icon {height: 40px;width: 30px;}
	.footLink li {border-left: 1px solid #0D478B;float: left;width: 17.4%;}
	.footLink li dl {border-left: 1px solid #0D5CB8;padding-left: 45px;}
	.footLink li dl dd {height: 30px;line-height: 30px;overflow: hidden;}
	.foot-link a,.footLink li dl dd a {color: #888;}
	.foot-link a:hover,.footLink li dl dd a:hover,.fLink dd a:hover {color: #aaa;text-decoration: none;}
/*---======== /helpCenterStyle ========---*/
	.helpCenter {background: #fff;height: auto;margin: 20px 0 0;}
	.hLeft {float: left;width: 200px;}
	.mt {border-bottom: 2px solid #16559F;color: #FFFFFF;height: 40px;padding: 0 15px;}
	.mt h2 {font-size: 18px;line-height: 40px;color: #16559F;}
	.mc {border: solid #E6E6E6;border-width: 0 1px 1px;overflow: hidden;}
	.mc dl dt { background-color: #F9F9F9;border-bottom: 1px solid #f2f2f2;font-weight: bold;color: #333;height: 30px;line-height: 30px;padding: 0 15px;position: relative;}
	.mc dl dd .hItem {padding: 2px 0 2px 24px;margin: 5px 0;}
	.mc dl dt a {color: #333;font-weight: bold;display: block;}
	.mc dl dd .hItem a {color: #666;display: block;}
	.mc dl dt a:hover,.mc dl dd .hItem a:hover {color: #E94609;}
	.hRight {float: left;width: 920px;}
	.hContent {border-left: 1px solid #E2E2E2;box-shadow: -1px 0 1px rgba(0, 0, 0, 0.1);height: auto !important;min-height: 840px;_height: 840px;}
	.commLine03 {border-bottom: 1px solid #ddd;font-weight: normal !important;}
	.xsCommTxt {color: #4E4E4E;line-height: 240%;}
	.xsCommTxt center img {max-width: 780px;margin: 0 0 10px;}
/*---======== /emailSuffixStyle ========---*/
	.out_box{font-family: "Hiragino Sans GB","Microsoft YaHei"; border: 1px solid #ccc;border-radius: 4px;box-shadow: 2px 2px 3px rgba(0,0,0,.1);margin-top: 5px;background: #fff;color:#555;text-indent: 6px;font-size: 14px;min-width: 140px;}
 	.list_box{border: 1px solid #fff;line-height:25px; cursor: pointer; padding:0 5px; }
 	.focus_box{border: 1px solid #fff; line-height:25px; cursor: pointer;background: #E6E6E6;color:#111;padding:0 5px;}
 	.mark_box {font-weight:200;}

/*---======== /onlineConsultStyle ========---*/
	.onlineConsult {width: 40px;position: fixed;right: 20px;bottom: 100px;z-index: 9999;}
	.onlineConsult dl dt,.onlineConsult dl dd {margin-top: 10px;}
	.onlineConsult dl em,.onlineConsult .fb-hover-text {display: inline-block;height: 40px;width: 40px;text-align: center;}
	.onlineConsult dl em{border-radius: 3px;}
	.onlineConsult .fb-hover-text {display: none;font-size: 14px;color: #fff;line-height: 18px;}
	.onlineConsult dl a:hover,.onlineConsult dl a:hover .fb-hover-text {background: #FF6500;display: block;text-decoration: none;border-radius: 3px;}
	.onlineConsult dl a:hover .ocgld-em {display: none;text-decoration: none;}
	.onlineConsult .smgz-pic {display: none;position: absolute;right: 50px;bottom: 0;width: 150px;height: 180px;border: 1px solid #ddd;background: #fff;}
	.smgz-a:hover .smgz-pic {display: block;}
	.smgz-pic .ewm-jiao{display: block;position: absolute;width: 7px;height: 14px;bottom:12px;right: -7px;z-index: 33;}
/*---======== /login-register ========---*/
	.l-r-w-Inpt li label {display: inline-block;width: 80px;text-align: right;color: #666;font-size: 16px;line-height: 30px;}
	.l-r-w-Inpt li input.lTxt {background: #fff;border: 1px solid #BFBFBF;border-radius: 3px;color: #666;height: 32px;font-weight: normal;font-size: 14px;line-height: 32px;padding: 0 10px;width: 260px;}
	.l-r-w-Inpt li input.lTxt.yzm {width: 100px;}
	.l-r-w-Inpt li input.lTxt:focus {border-color: #FF7843;box-shadow: 0 0 8px rgba(255,74,3,.2);}
	.login-btn {display: inline-block;height: 28px;width: 286px;text-align: left;}
	.login-btn input {background: none;border: none;color: #fff;font-size: 18px;line-height: 28px;+margin-left: -50px;height: 28px;text-align: center;width: 286px;}
	.l-r-link {width: 230px;margin: 40px auto 0;}
	.l-r-l-list {height: 256px;}
	.l-r-l-list li {display: none;padding-left: 34px;font-size: 14px;line-height: 30px;color: #999;margin-bottom: 10px;}
	.l-r-r-btn {border: 1px solid #e2e2e2;color: #333;display: inline-block;height: 28px;font-size: 16px;line-height: 28px;width: 200px;}
	.l-r-r-btn:hover {color: #FF4800;}
	.inpCb input {opacity: 0;filter:alpha(opacity=0);margin: 0;}
	.sf-login a {border: 1px solid #f2f2f2;border-radius: 3px;display: inline-block;text-align: center;padding: 15px 0;height: 60px;width: 100px;}
	.sf-login a p {color: #666;margin-top: 10px;font-size: 14px;line-height: 24px;}
	.sf-login a:hover,.sf-login a:hover p {border-color: #e2e2e2;color: #16559F;text-decoration: none;}
	.wsTab {border-bottom: 1px solid #CCC;display: block;height: 32px;line-height: 32px;}
	.wsTab h5 {font-weight: normal;font-size: 14px;line-height: 18px;}
	.wsTab h5 a {color: #666666;display: inline-block;margin-top: 5px;padding: 0 20px;vertical-align: middle;}
	.wsTab h5 a.onClick {background: #FFFFFF;border: solid #ddd;border-width: 1px 1px 0;border-radius: 3px 3px 0 0;color: #333333;cursor: text;font-weight: bold;height: 31px;line-height: 31px;margin-top: 1px;text-align: center;}
	.wsTab h5 a:hover {text-decoration: none;}

	/*分页样式*/
	.pagination {
		width: 100%;
		display: inline-block;
		padding-left: 0;
		border-radius: 4px;
	}
	.pagination>li {
		display: inline;
	}
	.pagination>li>a.current {background: #337AB7; color: #fff;}
	.pagination>li>a, .pagination>li>span {
		position: relative;
		float: left;
		padding: 6px 12px;
		margin-left: -1px;
		line-height: 1.42857143;
		color: #337ab7;
		text-decoration: none;
		background-color: #fff;
		border: 1px solid #ddd;
	}