<include file="Index:header" />
<body>
<div id="wrapper">
    <include file="Index:nav"/>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="{:U('Donehw/index')}" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i>已交作业</a>
                <li>
                <li>
                    <a href="{:U('Homework/add')}" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i>发布作业</a>
                <li>
                <li>
                    <a href="{:U('Homework/index')}" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i>作业列表</a>
                <li>
                <li>
                    <a href="{:U('Share/index')}" class="active-menu waves-effect waves-dark"><i class="fa fa-sitemap"></i>共享资料</a>
                <li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i> <a href="{:U('Share/index')}">我的共享资料</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-table"></i>{$nav}
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <div class="h_a">搜索</div>
            <div class="search_type cc mb10">
                <form action="{:U('Admin/Share/index')}" method="POST">
                    <ul>
                        <li><label>名称</label><input name="name" type="text" class="input length_2 mr10"></li>
                        <li><button type="submit" class="btn btn_submit">搜索</button>
                    </ul>
                </form>
            </div>
            <div>
                <button id="button-add" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>上传共享资料
                </button>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3></h3>
                    <div class="table-responsive">
                        <form id="singcms-listorder">
                            <table class="table table-bordered table-hover singcms-table">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>名称</th>
                                    <th>所属课程</th>
                                    <th>上传时间</th>
                                    <th>文件大小</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="shares" id="vo">
                                    <tr>

                                        <td>{$vo.share_id}</td>
                                        <td>{$vo.filename}</td>
                                        <td>{$vo.name}</td>
                                        <td>{$vo.create_time}</td>
                                        <td>{$vo.size|formatBytes}</td>
                                        <td><span  attr-status="<if condition="$vo['status'] eq 1">0<else/>1</if>"  attr-id="{$vo.share_id}" class="sing_cursor singcms-on-off" id="singcms-on-off" >{$vo.status|status}</span></td>
                                        <td>
                                            <a href="javascript:void(0)" attr-id="{$vo.share_id}" id="singcms-edit" attr-a="Homework" attr-message="编辑">
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            </a>
                                            <a href="javascript:void(0)" attr-id="{$vo.share_id}" id="singcms-delete"  attr-a="Homework" attr-message="删除">
                                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                            <ul class="pagination">
                                {$pageRes}
                            </ul>
                        </form>
                        <!--<div>-->
                        <!--<button id="singcms-button-back" class="btn btn-default">返回</button>-->
                        <!--</div>-->

                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    <!-- Morris Charts JavaScript -->
</div><!-- /. WRAPPER  -->
<script>
    var SCOPE = {
        'add_url':'/Admin/Share/add.html',
        'edit_url' : '/Admin/Share/edit.html',
        'delete_url' : '/Admin/Share/delete',
        'index_url' : '/Admin/Share/index.html',
    };
</script>

<include file="Index:footer" />

