
<include file="Index/header" />
<body>

<div id="wrapper">

    <include file="Index/nav"/>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="{:U('Config/index')}" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i>系统设置</a>
                </li>
                <li>
                    <a href="{:U('Manager/index')}" class="active-menu waves-effect waves-dark"><i class="fa fa-sitemap"></i>管理员管理</a>
                </li>
                <li>
                    <a href="{:U('Teacher/index')}" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i>教师管理</a>
                </li>
                <li>
                    <a href="{:U('Student/index')}" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i>学生管理</a>
                </li>
                <li>
                    <a href="{:U('Class/index')}" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i>班级管理</a>
                </li>
                <li>
                    <a href="{:U('Course/index')}" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i>课程管理</a>
                </li>
                <!--<li>-->
                    <!--<a href="{:U('Share/index')}" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i>共享资料管理</a>-->
                <!--</li>-->
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
       <if condition="$user eq 1">
           <div class="row">
               <div class="col-lg-12">

                   <ol class="breadcrumb">
                       <li>
                           <i class="fa fa-dashboard"></i>  <a href="{:U('Manager/index')}">管理员管理</a>
                       </li>
                       <li class="active">
                           <i class="fa fa-edit"></i> 添加
                       </li>
                   </ol>
               </div>
           </div>
           <!-- /.row -->

           <div class="row">
               <div class="col-lg-6">

                   <form class="form-horizontal" id="singcms-form">
                       <div class="form-group">
                           <label for="inputname" class="col-sm-2 control-label">用户名:</label>
                           <div class="col-sm-5">
                               <input type="text" name="username" class="form-control" id="inputname" placeholder="请填写用户名">
                           </div>
                       </div>

                       <div class="form-group">
                           <label for="inputPassword3" class="col-sm-2 control-label">密码:</label>
                           <div class="col-sm-5">
                               <input type="password" name="password" class="form-control" id="inputpassword" placeholder="请填写密码"/>
                           </div>

                       </div>
                       <div class="form-group">
                           <label for="inputPassword3" class="col-sm-2 control-label">真实姓名:</label>
                           <div class="col-sm-5">
                               <input type="text" class="form-control" name="realname" id="inputPassword3" placeholder="请填写真实姓名">
                           </div>
                       </div>

                       <div class="form-group">
                           <div class="col-sm-offset-2 col-sm-10">
                               <button type="button" class="btn btn-default" id="singcms-button-submit">提交</button>
                           </div>
                       </div>
                   </form>


               </div>

           </div>
           <!-- /.row -->
           <else/>
           <div class="row">
               <div class="col-lg-12">
                   <h1 class="page-header">
                       对不起，您没有权限！
                   </h1>
               </div>
           </div>
       </if>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<!-- Morris Charts JavaScript -->
<script>

    var SCOPE = {
        'save_url' : '/Admin/Manager/add',
        'jump_url' : '/Admin/Manager',
    }
</script>
<include file="Index/footer" />





